In [19]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
lifeexpectancy_path = "resources/L_E_per_country.csv"

electricity_path = "resources/acess_to_elec_per_country.csv"
birthrate_path = "resources/br_per_country.csv"
pollution_path = "resources/co2_per_country.csv"
deathrate_path = "resources/death_rate_per_country.csv"
gdp_path = "resources/gdp_per_country.csv"
hospitalbeds_path = "resources/hos_bed_per_country.csv"
deathsunder5_path = "resources/u5d_per_country.csv"
undernourished_path = "resources/under_nourished_per_country.csv"
unemployment_path = "resources/unemp_per_country.csv"





# Read the Mouse and Drug Data and the Clinical Trial Data
lifeexpectancy_path_df = pd.read_csv(lifeexpectancy_path)

electricity_path_df = pd.read_csv(electricity_path)
birthrate_path_df = pd.read_csv(birthrate_path)
pollution_path_df = pd.read_csv(pollution_path)
deathrate_path_df = pd.read_csv(deathrate_path)
gdp_path_df = pd.read_csv(gdp_path)
hospitalbeds_path_df = pd.read_csv(hospitalbeds_path)
deathsunder5_path_df = pd.read_csv(deathsunder5_path)
undernourished_path_df = pd.read_csv(undernourished_path)
unemployment_path_df = pd.read_csv(unemployment_path)


# complete_df = pd.merge(electricity_path_df,birthrate_path_df,pollution_path_df,deathrate_path_df,
#                        gdp_path_df,hospitalbeds_path_df,lifeexpectancy_path_df,deathsunder5_path_df,
#                        undernourished_path_df,unemployment_path_df, on='Country Name',how='left')

# Combine the data into a single dataset
LEvsElectricity_df = pd.merge(lifeexpectancy_path_df,electricity_path_df, on='Country Name',how='left')


# Display the data table for preview
a = lifeexpectancy_path_df.set_index('Country Code')
a.loc['WLD','1990':]

1990    65.4384
1991    65.6322
1992    65.7915
1993    65.9162
1994    66.1261
1995    66.3235
1996    66.6174
1997    66.9171
1998     67.179
1999    67.4073
2000    67.6871
2001    67.9839
2002    68.2549
2003      68.53
2004    68.8688
2005    69.1426
2006    69.4821
2007    69.8008
2008    70.0893
2009    70.4109
2010    70.6875
2011    70.9756
2012    71.2189
2013    71.4627
2014    71.6955
2015    71.8587
2016    72.0587
2017    72.2332
2018        NaN
Name: WLD, dtype: object

In [3]:
# Combine the data into a single dataset



# Display the data table for preview
LEvsBirthRate_df

,Country Name,Country Code_x,Indicator Name_x,Indicator Code_x,1990_x,1991_x,1992_x,1993_x,1994_x,1995_x,...,2009_y,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y
0,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,73.468000,73.509000,73.544000,73.573000,73.598000,73.622000,...,11.407000,11.260000,11.147000,11.065000,11.008000,10.975000,10.963000,10.974000,11.004000,NaN
1,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,49.856000,50.627000,51.331000,51.968000,52.539000,53.055000,...,40.474000,39.232000,38.016000,36.863000,35.797000,34.836000,33.980000,33.214000,32.507000,NaN
2,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,41.696000,41.855000,42.060000,42.329000,42.677000,43.125000,...,45.910000,45.314000,44.688000,44.058000,43.446000,42.864000,42.321000,41.819000,41.347000,NaN
3,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,71.836000,71.803000,71.802000,71.860000,71.992000,72.205000,...,11.837000,11.819000,11.846000,11.888000,11.916000,11.914000,11.879000,11.816000,11.745000,NaN
4,Andorra,AND,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.900000,9.800000,NaN,9.500000,NaN,NaN,NaN,8.800000,NaN,NaN
5,Arab World,ARB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,64.343456,64.713627,65.010049,65.373600,65.740498,66.149507,...,27.472661,27.496609,27.464592,27.349562,27.134852,26.812524,26.389093,25.888745,25.353802,NaN
6,United Arab Emirates,ARE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,71.541000,71.837000,72.122000,72.401000,72.674000,72.943000,...,12.073000,11.656000,11.265000,10.895000,10.540000,10.202000,9.885000,9.592000,9.328000,NaN
7,Argentina,ARG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,71.565000,71.790000,72.023000,72.256000,72.489000,72.719000,...,18.285000,18.154000,18.019000,17.875000,17.717000,17.547000,17.364000,17.172000,16.975000,NaN
8,Armenia,ARM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,67.879000,67.870000,67.990000,68.218000,68.538000,68.938000,...,15.099000,15.065000,14.928000,14.713000,14.446000,14.141000,13.808000,13.456000,13.092000,NaN
9,American Samoa,ASM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,18.700000,NaN,NaN,NaN,17.500000,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,71.351000,71.567000,71.783000,71.999000,72.218000,72.440000,...,17.586000,17.308000,17.071000,16.867000,16.684000,16.519000,16.367000,16.225000,16.089000,NaN
11,Australia,AUS,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,76.994634,77.275610,77.378049,77.878049,77.878049,77.829268,...,13.900000,13.700000,13.600000,13.700000,13.300000,13.200000,12.900000,12.900000,12.400000,NaN
12,Austria,AUT,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,75.568293,75.617073,75.817073,76.068293,76.419512,76.668293,...,9.200000,9.400000,9.300000,9.400000,9.400000,9.600000,9.800000,10.000000,10.000000,NaN
13,Azerbaijan,AZE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,64.827000,64.745000,64.731000,64.810000,64.991000,65.256000,...,17.000000,18.300000,19.200000,18.800000,18.300000,17.900000,17.200000,16.300000,14.600000,NaN
14,Burundi,BDI,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,48.053000,47.816000,47.752000,47.911000,48.295000,48.860000,...,43.699000,43.736000,43.663000,43.506000,43.285000,43.005000,42.662000,42.248000,41.763000,NaN
15,Belgium,BEL,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,76.051951,76.192195,76.351220,76.345366,76.691707,76.840732,...,11.800000,11.900000,11.700000,11.500000,11.300000,11.200000,10.800000,10.800000,10.500000,NaN
16,Benin,BEN,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,53.812000,54.366000,54.776000,55.042000,55.174000,55.203000,...,39.590000,39.278000,38.945000,38.591000,38.218000,37.830000,37.431000,37.026000,36.622000,NaN
17,Burkina Faso,BFA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,49.454000,49.409000,49.374000,49.360000,49.380000,49.445000,...,42.890000,42.314000,41.721000,41.127000,40.543000,39.977000,39.436000,38.920000,38.420000,NaN
18,Bangladesh,BGD,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,58.401000,59.033000,59.700000,60.400000,61.127000,61.868000,...,21.717000,21.224000,20.780000,20.375000,19.997000,19.637000,19.290000,18.950000,18.613000,NaN
19,Bulgaria,BGR,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,71.641463,71.560976,71.494390,71.346829,71.208780,71.053415,...,10.900000,10.200000,9.600000,9.500000,9.200000,9.400000,9.200000,9.100000,9.000000,NaN
20,Bahrain,BHR,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,72.390000,72.598000,72.803000,73.006000,73.209000,73.413000,...,16.860000,16.544000,16.268000,16.003000,15.729000,15.433000,15.111000,14.762000,14.402000,NaN
21,"Bahamas, The",BHS,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,70.705000,70.869000,71.010000,71.131000,71.239000,71.351000,...,15.445000,15.323000,15.145000,14.947000,14.757000,14.581000,14.420000,14.271000,14.126000,NaN
22,Bosnia and Herzegovina,BIH,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,70.877000,70.645000,70.577000,70.724000,71.091000,71.643000,...,9.219000,9.190000,9.149000,9.113000,9.096000,9.098000,9.120000,9.158000,9.207000,NaN
23,Belarus,BLR,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,70.836585,70.378049,70.021951,68.970732,68.768293,68.460976,...,11.400000,11.400000,11.500000,12.200000,12.500000,12.500000,12.500000,12.400000,10.800000,NaN
24,Belize,BLZ,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,71.246000,71.011000,70.696000,70.325000,69.922000,69.517000,...,23.985000,23.660000,23.428000,23.248000,23.086000,22.921000,22.739000,22.534000,22.312000,NaN
25,Bermuda,BMU,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,74.029512,NaN,NaN,NaN,NaN,...,12.500000,11.800000,10.400000,10.000000,10.400000,10.500000,9.400000,9.600000,9.300000,NaN
26,Bolivia,BOL,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,55.104000,55.647000,56.195000,56.747000,57.303000,57.862000,...,25.997000,25.502000,25.039000,24.612000,24.223000,23.870000,23.549000,23.252000,22.968000,NaN
27,Brazil,BRA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,65.300000,65.708000,66.144000,66.607000,67.095000,67.600000,...,15.749000,15.492000,15.269000,15.060000,14.852000,14.635000,14.405000,14.163000,13.918000,NaN
28,Barbados,BRB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,71.383000,71.614000,71.841000,72.061000,72.275000,72.481000,...,12.577000,12.480000,12.380000,12.281000,12.183000,12.088000,11.995000,11.905000,11.819000,NaN
29,Brunei Darussalam,BRN,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,72.916000,73.167000,73.413000,73.651000,73.883000,74.110000,...,16.567000,16.553000,16.557000,16.541000,16.475000,16.342000,16.138000,15.873000,15.575000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,67.545773,67.913624,68.293260,68.681063,69.077870,69.478434,...,18.824258,18.545457,18.286683,18.035112,17.783792,17.526119,17.263098,16.991600,16.718082,NaN
235,Timor-Leste,TLS,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,48.469000,49.332000,50.273000,51.317000,52.467000,53.696000,...,38.610000,38.202000,37.687000,37.123000,36.558000,36.012000,35.504000,35.048000,34.642000,NaN
236,Middle East & North Africa (IDA & IBRD countries),TMN,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,65.121706,65.754324,66.310215,66.808686,67.257179,67.662683,...,24.694849,24.902726,25.018170,25.008690,24.856184,24.553420,24.111143,23.558956,22.950915,NaN
237,Tonga,TON,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,69.603000,69.722000,69.832000,69.940000,70.050000,70.164000,...,27.551000,27.084000,26.555000,25.995000,25.433000,24.895000,24.406000,23.982000,23.625000,NaN
238,South Asia (IDA & IBRD),TSA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,58.188361,58.674331,59.168443,59.662017,60.151546,60.632626,...,23.154527,22.643304,22.152348,21.697718,21.287694,20.925134,20.604874,20.316713,20.043956,NaN
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,49.881185,49.876956,49.875884,49.884700,49.902266,49.928637,...,39.193856,38.825123,38.435573,38.027049,37.603026,37.169637,36.731068,36.293371,35.859112,NaN
240,Trinidad and Tobago,TTO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,68.007000,68.094000,68.171000,68.238000,68.296000,68.344000,...,15.289000,15.201000,15.049000,14.839000,14.581000,14.283000,13.956000,13.608000,13.253000,NaN
241,Tunisia,TUN,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,68.788000,69.401000,69.990000,70.540000,71.043000,71.496000,...,17.816000,18.243000,18.599000,18.839000,18.933000,18.868000,18.647000,18.295000,17.865000,NaN
242,Turkey,TUR,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,64.256000,64.757000,65.275000,65.815000,66.377000,66.963000,...,18.237000,17.956000,17.678000,17.399000,17.115000,16.826000,16.533000,16.241000,15.954000,NaN
243,Tuvalu,TUV,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Tanzania,TZA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,50.206000,49.953000,49.719000,49.540000,49.444000,49.460000,...,41.522000,41.112000,40.639000,40.133000,39.621000,39.120000,38.640000,38.186000,37.752000,NaN
245,Uganda,UGA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,45.509000,45.058000,44.676000,44.388000,44.223000,44.220000,...,45.685000,45.179000,44.666000,44.150000,43.636000,43.129000,42.631000,42.144000,41.663000,NaN
246,Ukraine,UKR,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,70.097561,69.298049,68.770976,68.130732,67.541220,66.741951,...,11.100000,10.800000,11.000000,11.400000,11.100000,10.800000,10.700000,10.300000,9.400000,NaN
247,Upper middle income,UMC,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,68.568886,68.750925,68.826750,68.882679,69.056933,69.296731,...,14.754297,14.599918,14.569767,14.649851,14.561180,14.647229,14.390447,14.720356,14.310704,NaN
248,Uruguay,URY,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,72.571000,72.758000,72.954000,73.161000,73.381000,73.613000,...,14.895000,14.757000,14.623000,14.495000,14.373000,14.255000,14.142000,14.034000,13.928000,NaN
249,United States,USA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,75.214634,75.365854,75.617073,75.419512,75.619512,75.621951,...,13.500000,13.000000,12.700000,12.600000,12.400000,12.500000,12.400000,12.200000,11.800000,NaN
250,Uzbekistan,UZB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,66.481000,66.424000,66.368000,66.336000,66.343000,66.396000,...,23.399167,22.700000,21.500000,21.000000,22.500000,23.300000,23.500000,22.800000,22.100000,NaN
251,St. Vincent and the Grenadines,VCT,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,70.140000,70.298000,70.425000,70.520000,70.585000,70.620000,...,17.323000,17.094000,16.840000,16.573000,16.305000,16.036000,15.770000,15.507000,15.246000,NaN
252,"Venezuela, RB",VEN,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,69.804000,69.971000,70.165000,70.384000,70.628000,70.893000,...,21.066000,20.783000,20.495000,20.205000,19.913000,19.620000,19.325000,19.030000,18.735000,NaN
253,British Virgin Islands,VGB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Virgin Islands (U.S.),VIR,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,74.235854,74.491951,74.747049,75.002659,75.257293,75.509927,...,15.300000,14.800000,13.800000,13.100000,13.100000,13.200000,13.200000,13.000000,12.800000,NaN
255,Vietnam,VNM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,70.536000,70.826000,71.113000,71.399000,71.685000,71.968000,...,17.411000,17.473000,17.471000,17.410000,17.295000,17.129000,16.923000,16.691000,16.450000,NaN
256,Vanuatu,VUT,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,63.072000,63.527000,63.986000,64.444000,64.897000,65.345000,...,27.765000,27.486000,27.236000,26.993000,26.741000,26.469000,26.173000,25.855000,25.524000,NaN
257,World,WLD,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,65.438413,65.632208,65.791543,65.916158,66.126088,66.323545,...,20.046278,19.840771,19.672645,19.569145,19.367568,19.287212,19.065504,19.045984,18.734820,NaN
258,Samoa,WSM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,64.851000,65.384000,65.910000,66.424000,66.919000,67.389000,...,28.413000,27.910000,27.338000,26.740000,26.156000,25.610000,25.118000,24.689000,24.316000,NaN
259,Kosovo,XKX,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,67.748780,67.948780,68.100000,68.248780,68.400000,68.551220,...,18.800000,18.500000,18.300000,18.000000,17.700000,17.400000,17.100000,16.800000,16.400000,NaN
260,"Yemen, Rep.",YEM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,57.877000,58.220000,58.519000,58.787000,59.036000,59.275000,...,34.914000,34.548000,34.162000,33.743000,33.282000,32.775000,32.224000,31.636000,31.027000,NaN
261,South Africa,ZAF,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,62.062000,62.239000,62.251000,62.092000,61.756000,61.226000,...,22.678000,22.510000,22.322000,22.108000,21.865000,21.594000,21.297000,20.981000,20.655000,NaN
262,Zambia,ZMB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,45.003000,44.431000,43.948000,43.564000,43.297000,43.166000,...,40.844000,40.361000,39.917000,39.506000,39.125000,38.771000,38.441000,38.131000,37.833000,NaN
263,Zimbabwe,ZWE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,57.944000,56.720000,55.337000,53.854000,52.329000,50.811000,...,35.938000,36.020000,35.932000,35.666000,35.233000,34.647000,33.937000,33.144000,32.318000,NaN